<div class="accordions-container row">

  <div class="accordion-container col-md-12">

    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          GEO ID
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <nb-tabset>
              <nb-tab tabTitle="Tabela">
                <nb-checkbox>GEO ID I</nb-checkbox>
                <nb-checkbox>GEO ID II</nb-checkbox>
                <nb-checkbox>Pivô Estático</nb-checkbox>
                <nb-checkbox>Pivô Dinâmico</nb-checkbox>
                <nb-checkbox>GRP</nb-checkbox>
                <nb-checkbox>GEO ID III</nb-checkbox>
              </nb-tab>
              <nb-tab tabTitle="Mapas">
                <nb-checkbox>GEO ID I</nb-checkbox>
                <nb-checkbox>GEO ID II</nb-checkbox>
                <nb-checkbox>Pivô Estático</nb-checkbox>
                <nb-checkbox>Pivô Dinâmico</nb-checkbox>
                <nb-checkbox>GRP</nb-checkbox>
                <nb-checkbox>GEO ID III</nb-checkbox>
              </nb-tab>
              <nb-tab tabTitle="Gráficos">
                <nb-checkbox>GEO ID I</nb-checkbox>
                <nb-checkbox>GEO ID II</nb-checkbox>
                <nb-checkbox>Pivô Estático</nb-checkbox>
                <nb-checkbox>Pivô Dinâmico</nb-checkbox>
                <nb-checkbox>GRP</nb-checkbox>
                <nb-checkbox>GEO ID III</nb-checkbox>
              </nb-tab>
          </nb-tabset>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          VENDOR ANALYSYS
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-tabset>
            <nb-tab tabTitle="Tabela">
              <nb-checkbox>Fabricante</nb-checkbox> 
              <nb-checkbox>Grupo Produtos</nb-checkbox> 
              <nb-checkbox>Produtos</nb-checkbox> 
              <nb-checkbox>Tabela de Preços</nb-checkbox> 
              <nb-checkbox>Pedidos</nb-checkbox> 
              <nb-checkbox>Relatórios</nb-checkbox> 
            </nb-tab>
            <nb-tab tabTitle="Mapas">
              <nb-checkbox>Fabricante</nb-checkbox> 
              <nb-checkbox>Grupo Produtos</nb-checkbox> 
              <nb-checkbox>Produtos</nb-checkbox> 
              <nb-checkbox>Tabela de Preços</nb-checkbox> 
              <nb-checkbox>Pedidos</nb-checkbox> 
              <nb-checkbox>Relatórios</nb-checkbox> 
            </nb-tab>
            <nb-tab tabTitle="Gráficos">
              <nb-checkbox>Fabricante</nb-checkbox> 
              <nb-checkbox>Grupo Produtos</nb-checkbox> 
              <nb-checkbox>Produtos</nb-checkbox> 
              <nb-checkbox>Tabela de Preços</nb-checkbox> 
              <nb-checkbox>Pedidos</nb-checkbox> 
              <nb-checkbox>Relatórios</nb-checkbox> 
            </nb-tab>
          </nb-tabset>   
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          CUSTUMER ANALYSYS
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-tabset>
                <nb-tab tabTitle="Tabela">
                  <p>CRM</p> 
                  <nb-checkbox>Identificação de Produtores</nb-checkbox> 
                  <nb-checkbox>Análise C.S</nb-checkbox>
                  <nb-checkbox>Segmentação de Clientes</nb-checkbox>
                  <nb-checkbox>Planejamento de Vendas</nb-checkbox>
                  <nb-checkbox>Report Produtores</nb-checkbox>
                  <nb-checkbox>Gráficos</nb-checkbox>
                  <nb-checkbox>Mapa Visitas</nb-checkbox>
                  <p>GIN</p>
                  <nb-checkbox>Perfil dos Produtores</nb-checkbox>
                  <nb-checkbox>Análise de Concorrência</nb-checkbox>
                  <nb-checkbox>Plano de Ação</nb-checkbox>
                  <nb-checkbox>Gestão de Agenda</nb-checkbox>
                  <nb-checkbox>Relatório de Visita</nb-checkbox>
                </nb-tab>
            </nb-tabset>          
        </nb-accordion-item-body>
      </nb-accordion-item>


      <nb-accordion-item>
          <nb-accordion-item-header>
            MARKETING ANALYSYS
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-tabset>
                <nb-tab tabTitle="Tabela">
                  <nb-checkbox>Simulator Analysys</nb-checkbox> 
                  <nb-checkbox>Tabela Analítica</nb-checkbox> 
                  <nb-checkbox>Posicionamento de Mercado</nb-checkbox> 
                  <nb-checkbox>Grafícos</nb-checkbox> 
                  <nb-checkbox>Plano de Ação</nb-checkbox> 
                </nb-tab>
                <nb-tab tabTitle="Mapas">
                  <nb-checkbox>Simulator Analysys</nb-checkbox> 
                  <nb-checkbox>Tabela Analítica</nb-checkbox> 
                  <nb-checkbox>Posicionamento de Mercado</nb-checkbox> 
                  <nb-checkbox>Grafícos</nb-checkbox> 
                  <nb-checkbox>Plano de Ação</nb-checkbox> 
                </nb-tab>
                <nb-tab tabTitle="Gráficos">
                  <nb-checkbox>Simulator Analysys</nb-checkbox> 
                  <nb-checkbox>Tabela Analítica</nb-checkbox> 
                  <nb-checkbox>Posicionamento de Mercado</nb-checkbox> 
                  <nb-checkbox>Grafícos</nb-checkbox> 
                  <nb-checkbox>Plano de Ação</nb-checkbox> 
                </nb-tab>
            </nb-tabset> 

          </nb-accordion-item-body>
        </nb-accordion-item>      
    </nb-accordion>
  </div>
</div>
